.overflow {
    overflow: auto;
}

table{
    vertical-align: middle;
}

td {
    white-space: nowrap;
}

tr {
    cursor: pointer;
}

tr:hover {

    th,
    td {
        color: whitesmoke;
        background-color: royalblue;
    }
}
