<nav class="container d-flex align-items-center p-3">
  <!-- <div class="d-flex"> -->
  <a
    class="text-decoration-none text-dark d-flex align-items-center gap-3 me-auto"
    routerLink="/"
  >
    <!-- <picture> -->
    <!-- <source srcset="./assets/images/e.png" type="image/png"> -->
    <img src="./assets/images/e.png" alt="Logo" />
    <!-- </picture> -->
    <span class="fw-bolder fs-3">Device Manager</span>
  </a>
  <!-- </div> -->
  <ul class="list-unstyled hstack gap-3 m-0">
    <li class="fs-4">
      <a
        class="text-decoration-none text-dark"
        routerLink="/generator"
        routerLinkActive="active"
        >Generator</a
      >
    </li>
    <li class="fs-4">
      <a
        class="text-decoration-none text-dark"
        routerLink="/list"
        routerLinkActive="active"
        >Liste</a
      >
    </li>
    <li class="fs-4">
      <a
        class="text-decoration-none text-dark"
        routerLink="/create"
        routerLinkActive="active"
        >Anlegen</a
      >
    </li>
  </ul>
</nav>
