<div class="container">
  <div class="row my-3">
    <div class="col">
      <h1 class="border-bottom border-primary border-3">Namesgenerator</h1>
      <p>
        Um einen neuen namen zu generieren bitte alle Felder auswählen,
        anschließend auf den Butten "Name Generieren" klicken.
      </p>
      <p>
        Der neu erstellte Devicename erscheint um das neue Gerät anlegen zu
        können.
      </p>
    </div>
  </div>

  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="row text-center mb-3">
      <!-- KUNDE -->
      <div class="col-2">
        <label class="form-label" for="customer">Kunde</label>
        <select class="form-select" id="customer" formControlName="customer">
          <option
            *ngFor="let customer of customers"
            value="{{ customer.abbr }}"
          >
            {{ customer.name }}
          </option>
        </select>
      </div>
      <!-- LAND -->
      <div class="col-2">
        <label class="form-label" for="country">Land</label>
        <select class="form-select" id="country" formControlName="country">
          <option *ngFor="let country of countries" value="{{ country.abbr }}">
            {{ country.name }}
          </option>
        </select>
      </div>
      <!-- STADT -->
      <div class="col-2">
        <label class="form-label" for="city">Stadt</label>
        <select class="form-select" id="city" formControlName="city">
          <option *ngFor="let city of cities" value="{{ city.abbr }}">
            {{ city.name }}
          </option>
        </select>
      </div>
      <!-- TREIBER -->
      <div class="col-2">
        <label class="form-label" for="driver">Treiber</label>
        <select class="form-select" id="driver" formControlName="driver">
          <option *ngFor="let driver of drivers" value="{{ driver.abbr }}">
            {{ driver.name }}
          </option>
        </select>
      </div>
      <!-- GERÄTETYPE -->
      <div class="col-2">
        <label class="form-label" for="type">Gerätetyp</label>
        <select class="form-select" id="type" formControlName="type">
          <option *ngFor="let type of types" value="{{ type.abbr }}">
            {{ type.name }}
          </option>
        </select>
      </div>
      <!-- YEAR -->
      <div class="col-2">
        <label class="form-label" for="year">Jahr</label>
        <select class="form-select" id="year" formControlName="year">
          <option *ngFor="let year of years" value="{{ year.abbr }}">
            {{ year.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <!-- BUTTON -->
      <div class="col">
        <button
          type="submit"
          [disabled]="myForm.invalid"
          class="btn btn-primary"
        >
          EndDeviceID generieren
        </button>
      </div>
    </div>
  </form>

  <!-- EndDeviceId Modal -->

  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">EndDeviceID's</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>
              <div class="d-flex justify-content-between align-items-center">
                <span>ei-de-dd-lw-sn-b10001</span>
                <button class="btn btn-sm btn-outline-danger" type="button">
                  Delete
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>
              <div class="d-flex justify-content-between align-items-center">
                <span>ei-de-dd-lw-sn-b10002</span>
                <button class="btn btn-sm btn-outline-danger" type="button">
                  Delete
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>
              <div class="d-flex justify-content-between align-items-center">
                <span>ei-de-dd-lw-sn-b10003</span>
                <button class="btn btn-sm btn-outline-danger" type="button">
                  Delete
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
