<div class="container">
  <div class="row my-3">
    <div class="col">
      <h1 class="border-bottom border-primary border-3">
        Neues Device Anlegen
      </h1>
    </div>
  </div>

  <form (ngSubmit)="onSubmit(successTpl)" [formGroup]="form">
    <!-- Hersteller -->
    <div class="row mb-3 g-3 align-items-center">
      <div class="col-2">
        <label for="manufacturer" class="form-label">Hersteller</label>
      </div>
      <div class="col-4">
        <input
          type="text"
          class="form-control"
          name="manufacturer"
          id="manufacturer"
          formControlName="manufacturer"
        />
      </div>
      <div class="col-auto">
        @if (form.get('manufacturer')?.valid) {
        <span class="text-success"> O.K. </span>
        } @else {
        <span class="text-danger"> Muss 3-20 zeichen beinhalten. </span>
        }
      </div>
    </div>
    <!-- Model -->
    <div class="row g-3 align-items-center mb-3">
      <div class="col-2">
        <label for="model" class="form-label">Model</label>
      </div>
      <div class="col-4">
        <input
          type="text"
          class="form-control"
          name="model"
          id="model"
          formControlName="model"
        />
      </div>
      <div class="col-auto">
        @if (form.get('model')?.valid) {
        <span class="text-success"> O.K. </span>
        } @else {
        <span class="text-danger"> Muss 3-20 zeichen beinhalten. </span>
        }
      </div>
    </div>

    <!-- Seriennummer -->
    <div class="row g-3 align-items-center mb-3">
      <div class="col-2">
        <label for="serialNumber" class="form-label">Seriennummer</label>
      </div>
      <div class="col-4">
        <input
          type="text"
          class="form-control"
          name="serialNumber"
          id="serialNumber"
          formControlName="serialNumber"
        />
      </div>
      <div class="col-auto">
        @if (form.get('serialNumber')?.valid) {
        <span class="text-success"> O.K. </span>
        } @else {
        <span class="text-danger"> Muss 6-32 zeichen beinhalten. </span>
        }
      </div>
    </div>
    <!-- AppKEY -->
    <div class="row g-3 align-items-center mb-3">
      <div class="col-2">
        <label for="appkey" class="form-label">AppKEY</label>
      </div>
      <div class="col-4">
        <input
          type="text"
          class="form-control"
          name="appkey"
          id="appkey"
          formControlName="appkey"
        />
      </div>
      <div class="col-auto">
        @if (form.get('appkey')?.valid) {
        <span class="text-success"> O.K. </span>
        } @else {
        <span class="text-danger"> Muss aus 32 HEX zahlen bestehen. </span>
        }
      </div>
    </div>
    <!-- AppEUI -->
    <div class="row g-3 align-items-center mb-3">
      <div class="col-2">
        <label for="appeui" class="form-label">AppEUI</label>
      </div>
      <div class="col-4">
        <input
          type="text"
          class="form-control"
          name="appeui"
          id="appeui"
          formControlName="appeui"
        />
      </div>
      <div class="col-auto">
        @if (form.get('appeui')?.valid) {
        <span class="text-success"> O.K. </span>
        } @else {
        <span class="text-danger"> Muss aus 16 HEX zahlen bestehen. </span>
        }
      </div>
    </div>
    <!-- DevEUI -->
    <div class="row g-3 align-items-center mb-3">
      <div class="col-2">
        <label for="deveui" class="form-label">DevEUI</label>
      </div>
      <div class="col-4">
        <input
          type="text"
          class="form-control"
          name="deveui"
          id="deveui"
          formControlName="deveui"
        />
      </div>
      <div class="col-auto">
        @if (form.get('deveui')?.valid) {
        <span class="text-success"> O.K. </span>
        } @else {
        <span class="text-danger"> Muss aus 16 HEX zahlen bestehen. </span>
        }
      </div>
    </div>
    <!-- Optional -->
    <hr />
    <!-- End-Device-ID -->
    <div class="row g-3 align-items-center mb-3">
      <div class="col-2">
        <label for="endDeviceId" class="form-label">End-Device-ID</label>
      </div>
      <div class="col-4">
        <input
          type="text"
          class="form-control"
          name="endDeviceId"
          id="endDeviceId"
          formControlName="endDeviceId"
        />
      </div>
      <div class="col-auto">
        @if (form.get('endDeviceId')?.valid) {
        <span class="text-success"> O.K. </span>
        }
      </div>
    </div>
    <!-- Kunde -->
    <div class="row g-3 align-items-center mb-3">
      <div class="col-2">
        <label for="customer" class="form-label">Kunde</label>
      </div>
      <div class="col-4">
        <input
          type="text"
          class="form-control"
          name="customer"
          id="customer"
          formControlName="customer"
        />
      </div>
      <div class="col-auto">
        @if (form.get('customer')?.valid) {
        <span class="text-success"> O.K. </span>
        }
      </div>
    </div>
    <!-- Einbauort -->
    <div class="row g-3 align-items-center mb-3">
      <div class="col-2">
        <label for="location" class="form-label">Einbauort</label>
      </div>
      <div class="col-4">
        <input
          type="text"
          class="form-control"
          name="location"
          id="location"
          formControlName="location"
        />
      </div>
      <div class="col-auto">
        @if (form.get('location')?.valid) {
        <span class="text-success"> O.K. </span>
        }
      </div>
    </div>
    <!-- Beschreibung -->
    <div class="row g-3 align-items-center mb-3">
      <div class="col-2">
        <label for="description" class="form-label">Beschreibung</label>
      </div>
      <div class="col-4">
        <input
          type="text"
          class="form-control"
          name="description"
          id="description"
          formControlName="description"
        />
      </div>
      <div class="col-auto">
        @if (form.get('description')?.valid) {
        <span class="text-success"> O.K. </span>
        }
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
      Anlegen
    </button>
  </form>
</div>

<ng-template #successTpl> Device wurde angelegt. </ng-template>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
